<!DOCTYPE HTML>
<html>
<head>
    <title>TRADVTTORE</title>
</head>
<body>
<h1>TRADVTTORE</h1>
<h2>PER VN ITALIANO ADATTO AI NOSTRI TEMPI.</h2>

{% if testo %}
    <h2>TRADVZIONE</h2>
    <p>{{ testo }}</p>
{% endif %}
<form method="post">
    <textarea cols="100" rows="20" name="testo">{{ originale }}</textarea><br/>
    <button name="traduci" type="submit">TRADVCI</button>
</form>

<p><a href="https://github.com/dbellettini/tradvttore" target="_blank">GitHub</a></p>
</body>
</html>
